body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .container {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 500px;
  }
  
  h1 {
    text-align: center;
  }
  
  .search-box {
    margin-top: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="date"] {
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    width: 100%;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  /* ... Diğer stiller ... */
  
  .autocomplete-list {
    position: absolute;
    z-index: 1; /* Diğer içeriklerin üzerine gelmesini sağlar */
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: white;
    border: 1px solid #ccc;
    border: none;
    border-radius: 0 0 5px 5px;
    width: 400px;
    max-height: 150px;
    overflow-y: auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .autocomplete-list li {
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .autocomplete-list li:hover {
    background-color: #f5f5f5;
  }
  
  .flightDetails {
    display: flex;
    flex-direction: column;
  }
  
label {
  display: inline-block;
}

/* public/styles.css */

.loading {
  display: block;
  text-align: center;
  padding: 10px;
  background-color: #f1f1f1;
}

.hidden {
  display: none;
}
